<template>
  <div>
    <worker-form/>
    <worker-best/>
    <worker-list/>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import WorkerForm from "@/components/worker/WorkerForm.vue";
import WorkerList from "@/components/worker/WorkerList.vue";
import WorkerBest from "@/components/worker/WorkerBest.vue";

@Component({
  components: {WorkerBest, WorkerForm, WorkerList}
})
export default class WorkerBlock extends Vue {
}
</script>