<template>
  <div>
    <p>
      <template v-if="beastWorker">
        Лучший работник: {{ beastWorker.name }} (Стаж - {{ beastWorker.experience }}).
      </template>
      <template v-else>
        Лучший работник пока не выявлен.
      </template>
    </p>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {WorkerInterface} from "../../../interfaces/worker";
import {workersEvents} from '@/store';

@Component({})
export default class WorkerBest extends Vue {
  get beastWorker(): WorkerInterface {
    return this.$store.getters[workersEvents.BEST_WORKER];
  }
}
</script>