<template>
  <div class="worker-form">
    Имя: <input class="worker-form__name" v-model="worker.name" placeholder="Имя">
    Стаж: <input class="worker-form__experience" v-model.number="worker.experience" type="number" placeholder="Стаж">
    <button @click="addWorker">Добавить</button>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {WorkerSimpleInterface} from "../../../interfaces/worker";
import {workersEvents} from '@/store';

@Component
export default class WorkerForm extends Vue {
  worker: WorkerSimpleInterface = {name: '', experience: 0};

  addWorker(): void {
    this.$store.commit(workersEvents.ADD_WORKER, this.worker);
    this.worker = {name: '', experience: 0};
  }
}
</script>