<template>
  <div>
    <ul v-if="workers.length > 0">
      <li is="worker" v-for="worker in workers" :key="worker.id" :worker="worker"/>
    </ul>
    <template v-else>Работников пока нет</template>

    <div style="margin-top: 30px">
      <button class="workers__save" @click="saveWorkers">Сохранить работников</button>
      <div v-if="saveWorkersStatus !==  saveWorkersStatuses.NORMAL">
        <div :class="saveWorkersStatusData.classes" :style="saveWorkersStatusData.styles">
          {{ saveWorkersStatusData.text }}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {WorkerInterface} from '../../../interfaces/worker';
import Worker from "@/components/worker/Worker.vue";
import {workersEvents, saveWorkersStatuses} from "@/store";

@Component({
  components: {Worker},
})
export default class WorkerList extends Vue {
  saveWorkersStatuses = saveWorkersStatuses;

  get workers(): WorkerInterface[] {
    return this.$store.getters[workersEvents.WORKERS];
  }

  get saveWorkersStatus(): saveWorkersStatuses {
    return this.$store.getters[workersEvents.SAVE_WORKERS_STATUS];
  }

  get saveWorkersStatusData(): { styles: { color: string }, text: string, classes: string } {
    let color = '';
    let text = '';
    let classes = '';
    if (this.saveWorkersStatus === this.saveWorkersStatuses.DONE) {
      color = 'green';
      text = 'Работники успешно сохранены!';
      classes = 'workers__request_done';
    }
    if (this.saveWorkersStatus === this.saveWorkersStatuses.FAIL) {
      color = 'red';
      text = 'Работников не удалось сохранить.';
      classes = 'workers__request_error';
    }
    return {
      styles: {color},
      text,
      classes
    };
  }

  saveWorkers(): void {
    this.$store.dispatch(workersEvents.POST_WORKERS);
  }
}
</script>