<template>
  <div>
    <input v-model="workerForm.name" placeholder="Имя">
    <input v-model.number="workerForm.experience" type="number" placeholder="Стаж">
    <button @click="remove">x</button>
  </div>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';
import {WorkerInterface} from '../../../interfaces/worker';
import {workersEvents} from "@/store";

@Component({})
export default class Worker extends Vue {
  @Prop() private worker!: WorkerInterface;
  workerForm: WorkerInterface | null = null;

  created(): void {
    this.workerForm = {...this.worker};
  }

  @Watch("workerForm", {deep: true})
  onWorkerChanged(): void {
    this.$store.commit(workersEvents.UPDATE_WORKER, this.workerForm);
  }

  remove(): void {
    this.$store.commit(workersEvents.REMOVE_WORKER, this.workerForm);
  }
}
</script>